/* *{
    margin: 0;
    padding: 0;
} */
 body{
    background-color: hsl(223, 19%, 93%);
  & div{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 1rem;
    }
}
button{
    cursor: pointer;
}
.replies-container{
    margin-left: 5rem;
        & :nth-child(3){
            color: red;
        }
}
.vote-container{
    display: inline-flex;
    background-color: hsl(228, 33%, 97%);
        & button{
            background: none;
            border:none;
        }
}
.user-date{
    display: flex;
    justify-content: space-around;
        
}